
 *{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* display: block; */
 }
 /* @media(max-width:700px) */
.container {
  display: block;
  overflow: hidden;
  /* grid-template-columns: auto  auto; */
  /* grid-template-rows: 400px 400px; */
  /* grid-template-rows: repeat(); */
  /* background-color: dodgerblue; */
  /* padding: 10px; */
  /* gap: 5px; */
}
.container div {
  /* background-color: #f1f1f1; */
  /* padding: 10px; */
  font-size: 30px;
  text-align: center;
}
